os: Visual Studio 2017
configuration: Release
install:
  - "SET PATH=C:\\ProgramData\\chocolatey\\bin;%PATH%"
  - choco install gitversion.portable -pre -y
  - choco install GitReleaseNotes.Portable
  - choco install opencover.portable
  - pip install codecov
before_build:
  - nuget restore
build:
  project: Markov.sln
test_script:
  - OpenCover.Console.exe -target:dotnet.exe -targetargs:"test --configuration %CONFIGURATION% --no-build" -register:user -filter:"+[*]* -[*.Tests]* -[xunit*]*" -output:coverage.xml -oldStyle
after_test:
  - codecov -X gcov -f "coverage.xml"
artifacts:
  - path: '**\*.nupkg'
deploy:
  provider: NuGet
  api_key:
    secure: 2tZ8tu75MkmhyIcFGzFZsukJx9WAfV94mMtIAnSlurGlGqKaUhG6n6fTimXiIQiB
  skip_symbols: false
  artifact: /.*\.nupkg/
skip_commits:
  files:
    - .gitattributes
    - .gitignore
    - CodeMaid.config
    - license.md
